@page "/customtasks/delete"
@using BlazorApp01.Domain.Models
@using BlazorApp01.DataAccess.Repositories
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>CustomTask</h2>
    <hr />
    @if (customtask is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@customtask.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@customtask.Status</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CreatedAt</dt>
            <dd class="col-sm-10">@customtask.CreatedAt</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">DueDate</dt>
            <dd class="col-sm-10">@customtask.DueDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">CompletionDate</dt>
            <dd class="col-sm-10">@customtask.CompletionDate</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@customtask.IsActive</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">RowVersion</dt>
            <dd class="col-sm-10">@customtask.RowVersion</dd>
        </dl>
        <EditForm method="post" Model="customtask" OnValidSubmit="DeleteCustomTask" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(customtask is null)">Delete</button> |
            <a href="/customtasks">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private CustomTask? customtask;

    [SupplyParameterFromQuery]
    private int CustomTaskId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        customtask = await UnitOfWork.CustomTasksRepository.GetByIdAsync(CustomTaskId);

        if (customtask is null)
        {
            NavigationManager.NotFound();
        }
    }

    private async Task DeleteCustomTask()
    {
        UnitOfWork.CustomTasksRepository.Remove(customtask!);
        await UnitOfWork.SaveChangesAsync();
        NavigationManager.NavigateTo("/customtasks");
    }
}
